spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wimmly
    username: postgres
    password: postgres
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
    contexts: test, default
    default-schema: public
    drop-first: false
logging:
  level:
    root: info